{% extends 'saller/base.html' %}

{% block title %}
  商品列表
{% endblock %}

{% block label %}
  商品列表
    <a href="/Saller/goods_add/">增加商品</a>
{% endblock %}

{% block content %}
  <div id="content">
    <table class="table">
      <thead>
        <tr>
          <th>商品编号</th>
          <th>商品名称</th>
          <th>商品价格</th>
          <th>商品数量</th>
          <th>商品产地</th>
          <th>商品保质期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for one in page %}
        <tr>
          <td>{{ one.goods_number }}</td>
          <td>{{ one.goods_name }}</td>
          <td>{{ one.goods_price }}</td>
          <td>{{ one.goods_count }}</td>
          <td>{{ one.goods_location }}</td>
          <td>{{ one.goods_safe_date }}</td>
          <td>
            <button class="btn btn-primary">修改</button>
            {% if status == '1' %}
              <a href="/Saller/goods_status/down/{{ one.id }}" class="btn btn-warning">下架</a>
            {% else %}
              <a href="/Saller/goods_status/up/{{ one.id }}" class="btn btn-warning">上架</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <ul class="pagination" style="float: right;">
    {% for page in goods_all.page_range %}
      <li class="paginate_button page-item previous">
        <a href="/Saller/goods_list/{{ status }}/{{ page }}" class="page-link">{{ page }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}