{% extends 'saller/base.html' %}
{% block title %}
    个人中心
{% endblock %}


{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td rowspan="3" style="width: 200px;">
                <img style="width: 100%" src="/static/{{ user.photo }}" alt="" ><br>
                <input type="file" name="photo">
            </td>
            <td>邮箱</td>
            <td><input type="text" name="email" value="{{ user.email }}" disabled></td>
            <th>用户名</th>
            <td><input type="text" name="username" value="{{ user.username }}"></td>

        </tr>
        <tr>
            <td>手机号</td>
            <td><input type="text" name="phone_number" value="{{ user.phone_number }}"></td>
            <th>年龄</th>
            <td><input type="text" name="age" value="{{ user.age }}"></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><input type="text" name="gender" value="{{ user.gender }}"></td>
            <th>地址</th>
            <td><input type="text" name="address" value="{{ user.address }}"></td>

        </tr>
        <tr>
            <td colspan="5" style="text-align: center">
                <input class="btn btn-primary" type="submit" value="完善用户信息">
            </td>
        </tr>
    </table>
    </form>
{% endblock %}



